@model ProyFinalDESWB.Models.GrabarProducto

@{
    ViewData["Title"] = "GrabarProducto";
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI/tT8huzUh94o0s1/XFfQv8UsjA9b8WdF4iFt9s=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>


<hr />


<style>
    .modal-header {
        color: #fff;
        background: #428bca;
        display: flex;
        justify-content: center;
    }

    .help-block {
        color: red;
    }

    .form-group.has-error .form-control-label {
        color: red;
    }

    .form-group.has-error .form-control {
        border: 1px solid red;
        box-shadow: 0 0 0 0.2rem rgba(250, 16, 0, 0.18);
    }

    .alertify .ajs-dialog {
        top: 50%;
        transform: translateY(-50%);
        margin: auto;
    }

    .ajs-header {
        background-color: #286090 !important;
        color: white !important;
        /*text-align: center;*/
        font-size: 18px;
        font-weight: bold;
    }

    .ajs-ok {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

    .ajs-cancel {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }
</style>

<div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="mt-3 text-center">Grabar Producto</h1>

        </div>
        <div class="modal-body form-control" >
            <form asp-action="GrabarProducto" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    
                    <input asp-for="descripcion" class="form-control" placeholder="descripcion" />
                    <label asp-for="descripcion" class="control-label"></label>
                    <span asp-validation-for="descripcion" class="text-danger"></span>
                </div>
                <div class="form-floating">
                   
                    
                    
                    <input asp-for="precio" class="form-control" placeholder="precio" />
                    <label asp-for="precio" class="control-label"></label>
                    <span asp-validation-for="precio" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    
                    <input asp-for="stock" class="form-control" placeholder="stock" />
                    <label asp-for="stock" class="control-label"></label>
                    <span asp-validation-for="stock" class="text-danger"></span>
                </div>
                <div class="form-floating">
                   
                    @Html.DropDownList("animal", (SelectList)ViewBag.Animales,
                    "Seleccione", new { @class = "form-select "} )
                    <label asp-for="animal" class="control-label"></label>
                    <span asp-validation-for="animal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="tipocomi" class="control-label"></label>
                    @Html.DropDownList("tipocomi", (SelectList)ViewBag.Tipos,
                    "Seleccione", new { @class = "form-select" })
                    <span asp-validation-for="tipocomi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="fotopro" class="control-label"></label>

                    <input asp-for="fotopro" type="file" class="form-control" />

                </div>
                <div class="form-group text-center mt-3">
                    <input type="submit" value="Create" class="btn btn-primary" />  |
                    <a asp-action="ListadoProductos" class="btn btn-info">Listado</a>
                </div>
            </form>
        </div>
    </div>
</div>







@if (!string.IsNullOrEmpty(ViewBag.MENSAJE as string))
{
    <div class="alert alert-info" role="alert">
        <p>@ViewBag.MENSAJE</p>
    </div>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

